.formContainer {
  width: 400px;
  text-align: center;
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  text-align: center;
  padding: 20px;
}

form input {
  margin: 20px;
}
