@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

.MainContainer {
  background: linear-gradient(-90deg, #89da50, #2cccc4);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  background-color: #ece4b7;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
  width: 300px;
  height: auto;
  padding: 20px 10px;
}

h2 {
  align-content: center;
  font-size: 40px;
}

input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 1.2em;
  margin-top: -1px;
  vertical-align: middle;
}

input[type="checkbox"] {
  border: 0px;
  width: 100%;
  height: 1.2em;
  margin-top: -1px;
  vertical-align: middle;
}

@media (min-width: 700px) {
  .container {
    width: 500px;
  }
}

.formControl {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.formControl label {
  align-items: center;
  display: block;
  margin-left: 5px;
  font-size: 20px;
  padding-bottom: 5px;
}

.formControl input {
  height: 65px;
  font-size: 17px;
  color: black;
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  width: 100%;
}

.inline label {
  display: inline-block;
  width: 100px;
}

.inline input {
  display: inline;
  width: auto;
}

.submitButton {
  border: none;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 0 #000;
  height: 50px;
  width: 100%;
  background-color: #55ccff;
  transition: all 0.1s;
  border: 1px solid black;
}

.submitButton:hover {
  border: 3px solid black;
  box-shadow: 0px 0px 0 #000;
}

.grey {
  background-color: gray;
}
