.MainContainer {
  width: 100vw;
  height: 100vh;
}

.input {
  width: 100%;
  padding: 20px 10px 0 0;
  text-align: center;
}

.input input {
  width: 70%;
}

.form {
  width: 400px;
  text-align: center;
  margin: 50px auto;
}

form {
  margin: 0 30px;
}
